.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #007bff; /* $brand-primary */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
}

.Header-container {
    display: flex;
    max-width: 1200px; /* $max-width */
    margin: 0 auto;
    padding: 16px; /* $gutter-padding */
}

/* Logo */
.Logo {
    z-index: 100;
    display: flex;
    padding-left: 16px; /* $gutter-padding */
}

.Logo-img {
    width: 100px;
}

/* Menu Toggle */
.Menu-toggle {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-around;
    margin-right: 1em;
    width: 2rem;
}

.Menu-toggle:focus {
    outline: none;
    text-decoration: none;
}

.Menu-toggle span {
    width: 2rem;
    height: 0.25rem;
    background: #000000; /* $menu-toggle-color */
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.Menu-toggle span:first-child {
    transform: rotate(0);
}

.Menu-toggle span:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.Menu-toggle span:nth-child(3) {
    transform: rotate(0);
}

/* Back Button */
.Backbutton {
    background: #ffffff; /* $white */
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: auto;
}

.Backbutton-icon {
    padding-left: 5px;
}

/* Header navigation */
.Header-navigation {
    position: fixed;
    top: 59px; /* $header-height - $gutter-padding (75px - 16px) */
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s; /* $transistion */
    transition-delay: .3s; /* $transistion */
    background-color: #007bff; /* $brand-primary */
}

.Navigation {
    max-width: 1200px; /* $max-width */
    margin: 0 auto;
    display: flex;
    padding: 16px; /* $gutter-padding */
}

.Navigation__group {
    width: 100%;
}

.Navigation__item-link {
    color: #000000; /* $link-color */
    font-size: 24px; /* $font-size-large */
    text-transform: uppercase;
    padding: 16px; /* $gutter-padding */
    display: flex;
    border-bottom: 1px solid #cccccc; /* $gray */
}

.Navigation__item-link:hover {
    background: #000000; /* $link-background */
    color: #ffffff; /* $link-hover-color */
}

/* open Header */
.Header--menuOpen .Header-navigation {
    height: 100%;
    transition-delay: 0s;
}

.Header--menuOpen .Menu-toggle span:first-child {
    transform: rotate(45deg);
}

.Header--menuOpen .Menu-toggle span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.Header--menuOpen .Menu-toggle span:nth-child(3) {
    transform: translateY(2px) rotate(-45deg);
}
